<div class='box-body'>
    <p>Return to Reports Page</p>
    <a href='http://some.domain.com/pages/admin/reports.php' type='submit' class='btn btn-primary ladda-button' data-style='zoom-in' value='Run Report' />
    <span class='ladda-label'>
        <i class='fa fa-download'></i> Reports
    </span>
</a>
</div>
<div class='box-body'>
    <p>Return to Get Another First Login</p>
    <a href='http://some.domain.com/pages/admin/canvasReporter.php?module=getFirstLogin' type='submit' class='btn btn-primary ladda-button' data-style='zoom-in' value='Run Report' />
    <span class='ladda-label'>
        <i class='fa fa-download'></i> First Login
    </span>
</a>
</div>